
/* css */
*{
 font-family: "Times New Roman", Times, serif !Important;   
}


body{

     margin: 0;
/*font-family: myFirstFont;*/
    background-color: #ac6ca5;

}

.header{
	
	    background-color: #e2cde0;
    background-size: cover;
    background-image: url(../image/b.png);
    background-blend-mode: color-burn;
	padding-top: 170px;	
	
	

}
.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.text-center {
    text-align: center;
}
.sabiimg{
    width: 373px;
    height: 353px;
    margin: 0px auto;
  
    border: 3px #fff solid;
    border-radius: 50%;
        display: block;
    max-width: 100%;
      
}
.sabiheading{
color:#fff;
font-size:73px;

text-align: center;
}
.about{
    background-color: #e2cde0;
}
.allsbtn{
    padding-left: 259px;
    padding-right: 65px;
}
.sbtn{
    text-align: center;
        width: 20%;
    float: left
}
.sabi20{
    width: 30%;
    float: left
}

.sabi25{
    width: 20%;
    float: left;
    padding: 10px;
       
}
.sabi50{
    width: 50%;
    float: left  
}
.sabi80{
    width: 60%;
    float: left
}
.sabi25 img{
    height: 200px;
    width: 100%;
}
.clear{
    clear: both;
}
.sabibtn{
    margin-top: 28px;
    background-color: #c79ab3;
    border-radius: 10px;
    color:#fff;
    font-size:28px;
    width:165px;
    height: 90px;
}
.saboabout{
 color:#fff;
font-size:37px;
padding-left: 62px;
font-family: 'Times New Roman';

}
.sabi{
    color: #fff;
    font-size: 22px;
    margin-top: 200px
}
.aboutimg{
    margin-top: 100px;
}
.work{
   background-color: #dbbfd8;
       padding-top: 20px;
}
.wrokheading{
    
    margin-top: 70px;
}
.workimg{
    margin-top: 100px;
}
.arr{
    margin-top: 73px;
}
.clients{
    background-color: #cfabcb;
        padding-top: 20px;
}
.concatme{
    background-color: #ac6ca5;
       padding-top: 20px;
}
.cheading{
    margin-top: 45px;
    margin-bottom: 34px;
}
.coheading{
 color:#fff;
 font-size: 43px;
}
.conimg{
    display: inline;
    
}
.facebook img{
    margin-top: 10px;
    margin-left: 70px;
}
.copy{
    background-color: #cca3c2;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.clients a{
        color: #000;
    font-size: 25px;
}
@media screen and (max-width: 480px) {
   .coheading {
       font-size: 20px;
    }
    .sabi25,.sabi50{
        width:100%;
          float: none;
    }
    .workimg .sabi25{
        width: 70%;
    }
    .sbtn,  .sabi20{
        float: none;
        width: 100%;
    }
    .allsbtn{
        padding: 0;
    }
    .sabi50 img{
        width: 60%;
    }
    .coheading img{
         width: 10%;
    }
}



